@use 'src/styles/vars';



.services {
  width: auto;

  &-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;

  }

  &-box {
     background: linear-gradient(90deg,vars.$five 21%, rgb(239, 241, 242) 57%, vars.$seven 80%);
    // border-radius: 0px 30px 0px 30px;
     padding: 0.5rem;
     margin: 1rem;

 
}
//* DISPLAY ONE SPECIFIC SERVICE
}
 .one-box {
  display : flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  color : vars.$one;
  background-color: vars.$seven;
  padding: 1.5rem;
  padding-right: 6rem;
  padding-left : 2rem;
  font-size : 1.3rem;
  margin: 1.5rem;
  border-radius: 5px;
  


  
  &-image {
    border-radius: 10px;
    min-width: 60%;
    max-width: 60%;
    margin-bottom: 1rem;
    opacity : 0.85;
  
  }

  &-title {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: yellow;
 
  }
  &-description {
    margin-bottom: 2rem;
    
  }
  &-price{
    margin-bottom: 2rem;
    display: flex;
    align-items: left;
     p{
      font-weight: 700;
      

    }
   
  }
  &-technics {
    margin-bottom: 2rem;
    p {

    margin-bottom: 1rem;
    color :#e96868
  }

  li {
    display: inline-block; 
    color : vars.$six;
    margin-right: 10px;
    background-color: #ccc;
    padding: 5px 10px; 
    border-radius: 5px; 

    &:hover {
      background-color: #695757;
      cursor: pointer;
    }
    
  }

   }
  }
//*DISPLAYS ALL THE CARDS OF SERVICES
.box {
 
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s, transform 0.3s;
  padding: 1rem;
  width: 15vw;

   &:hover {
    opacity: 0.8;
    transform: scale(1.05);
    cursor: pointer;

   }
  
  &-image {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
  }

  &-title {
    margin-bottom: 1rem;
    font-weight: 700;
    
  }
 
  &-price{
    display: flex;
    align-items: left;
     p{
      font-weight: 700;
      font-size: 1rem;
      margin-right: 0.5rem;
      

    }
    
  }

   }

   .hidden{
    display: none;
  }
  