@use 'src/styles/vars';
 @import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Slabo+27px&display=swap');

 .app {
  min-width: 100vh;
  padding-top: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: vars.$five;
  font-family: 'Nothing You Could Do', cursive;
  font-family: 'Slabo 27px', serif;
  position: relative;
}

//IS AUTHETIFICIATE 

.RESIZE {
  transform: translateX(25vh);
  width: calc(100vh - 10vh);
 
}

