nav{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 2rem;

}
.nav-item{
  font-weight: 600;
  margin-right: 1rem;
  margin-left: 1rem;
  padding:0.5rem;
  border-bottom: 1px navy solid;
  
  &:hover {
    background-color: rgba(7, 76, 76, 0.1);
    transition: 0.5s;
  }
}

.navLeft {
  margin-right: 1rem;

}
