@use './src/styles/vars';

.input{
  padding: 0.5rem;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
  
  

  &-text{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
  }
  &-textArea {
    padding: 0.2rem;
    border-radius: 0.5rem;
    min-height: 6rem;
    

  }
}

.error{
  font-size: 1rem;
  padding: 0.2rem;
  color: crimson;
  display: block;
}

.btn {
  margin: 1rem;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: vars.$three;
  color : white;
  font-weight: 600;
  
  &:hover {
    background-color: vars.$two;
    scale: 1.05;
    cursor: pointer;
  }
}
