@use 'src/styles/vars';

.copyright {
  margin-top: 2rem;
  text-align: center;
  font-weight: 700;
  padding:2rem;
  background-color: vars.$seven;
  color: white;
  
 
  background-position-x:left
}
